@page "/"
@using System.Globalization
@using CsvHelper
@using CsvHelper.Configuration.Attributes
@using KristofferStrube.DocumentSearching.SuffixTree
@using System.Diagnostics
@inject HttpClient HttpClient

<PageTitle>DocumentSearching - Search</PageTitle>

<h1>Search</h1>
<p>
    Here you can try out a fuzzy search through all the elements in the periodic table using an in-memory search index.
    <br />
    <small>Try seaching "lightest chemical substance" to find Hydrogen. Try to springle in some spelling errors.</small>
</p>
@if (index is null)
{
    return;
}
<input @bind=query @bind:event="oninput" @bind:after=Search style="width:100%;" />
<br />
@if (searchTime is not null && naive is not null)
{
    <p>Found @searchResults.Length @(searchResults.Length is 1 ? "element" : "elements") in @Math.Round(searchTime.Value, 2) ms compared to a simple IndexOf search in @Math.Round(naive.Value, 2) ms.</p>
    <br />
    <small>Continuations of search query: @string.Join(", ", continuations)</small>
}

@foreach (SearchResult<Element> result in searchResults)
{
    List<Match> markedAreas = [];
    <div @key=result.Element>
        <hr />
        <h3>@result.Element.Name</h3>
        @for (int i = 0; i < result.Element.Summary.Length; i++)
        {
            if (result.Matches.FirstOrDefault(m => i == m.Position) is { } match && match.Length is not 0)
            {
                int offset = 0;
                for (int j = 0; j < match.ExpandedCigar.Length && i + j + offset < result.Element.Summary.Length; j++)
                {
                    if (match.ExpandedCigar[j] is EditType.Match)
                    {
                        <span style="background-color:#9F9;">@result.Element.Summary[i + j + offset]</span>
                    }
                    else if (match.ExpandedCigar[j] is EditType.MisMatch)
                    {
                        <span style="background-color:#EE9;">@result.Element.Summary[i + j + offset]</span>
                    }
                    else if (match.ExpandedCigar[j] is EditType.Insert)
                    {
                        <span style="background-color:#EE9;">@result.Element.Summary[i + j + offset]</span>
                    }
                    else if (match.ExpandedCigar[j] is EditType.Delete)
                    {
                        offset--;
                    }
                }
                i += match.Length - 1;
            }
            else
            {
                int nextMatch = result.Matches.FirstOrDefault(m => m.Position >= i).Position;
                if (nextMatch != 0)
                {
                    <span>@result.Element.Summary[i..(nextMatch)]</span>
                    i = nextMatch - 1;
                }
                else
                {
                    <span>@result.Element.Summary[i..]</span>
                    i = result.Element.Summary.Length;
                }
            }
        }
        <br />
        <small>Matched in @result.Matches.Length @(result.Matches.Length == 1 ? "place" : "places")</small>
    </div>
}

