@page "/"

<button @onclick="Start">Start</button>

<div>
    @CSVStats<br />
    @constructIndexStats<br />
    @jsonSerializeStats<br />
    @writeLocalStorageStats<br />
    @readLocalStorageStats<br />
    @jsonDeserializeStats<br />
    @exactSearchStats<br />
</div>